@{
    ViewBag.Title = "Home Page";
}

@helper AddHelper(int a, int b)
{
    <label>Addition of two No = @(a + b)</label>
}
@*This is how we use inline HTML Helper method in View.*@
<div style="background-color:azure;">
    <label> @AddHelper(100, 200)</label>
</div>

@helper PrintHelper(string message)
{
    <label>@message</label>
}
@*This is how to use inline HTML Helper method in View.*@
<div style="background-color:blue;">
    <label> @PrintHelper("Welcome to Learning ASP.NET MVC 5 Tutorials Step by Step.")</label>
</div>

@helper ListHelper(string[] strList)
{
    <ol>
        @foreach (var item in strList)
        {
            <li>@item</li>
        }
    </ol>
}
@*How to use “ListHelper()” inline Html Helper method in View.*@


<div id="div1" style="background-color:yellow;">
    Book Name List: @ListHelper(strBooks)
</div>

@{
    string[] strBooks1 = new string[] { "C#.NET", "ASP.NET MVC", "ASP.NET CORE", "VB.NET", "WEB API" };
    string[] strLanguages = new string[] { "C#.NET", "VB.NET", "F#.NET", "JAVASCRIPT" };
}

<div id="div1" style="background-color:yellow;">
    Book Name List: @ListHelper(strBooks1)
</div>
<hr />
<div id="div2" style="background-color:azure;">
    Programming Languages: @ListHelper(strLanguages)
</div>  